@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0px;
    padding: 0px;
    background: rgb(167, 207, 239);
    box-sizing: border-box;
}

  button {
    padding: 16px 30px;
    font-size: 1.5 rem;
    font-weight: 100;
    color: var(--color);
    border: 2px solid rgba(0, 0, 0, 0.5); 
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
  }

  
  button:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px var(--color);
  }

  
.board {
    position: fixed;
    width: 500px;
    height: 500px;
    margin-left: 35px;
    margin-top: 100px;
}

.square {
    
    color:blue ;
    float: left;
    width: 58px;
    border: 1px solid black;
    height: 58px;
    background-color:rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 1rem 0 rgba(0, 0, 0, 0.9);
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: #070707; 

}


@font-face {
    font-family: 'Rocher';
    src: url(https://assets.codepen.io/9632/RocherColorGX.woff2);
  }
  
  body {
    font-family: 'Rocher';
    text-align: center;
    font-size: 30px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

h1 {
    margin-top: 10px;
}

@font-palette-values --Purples {
    font-family: Rocher;
    base-palette: 6;
}

.purples {
    font-palette: --Purples;
    margin-top: -650px;
    position: fixed;
  } 


img {
    height: 58px; 
    width: 58px;
}

.x {
  color: purple;
}

.startInput {
  position: fixed;
  font-family: 'Poppins';
  color: white;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  margin-left: -580px;
  margin-top: -20px;
  width: 275px;
  font-size: 20px;
  font-weight: 900;
}

.startInput>input {
  border: 3px solid rgb(180, 180, 290);
}

.startInput>input:hover {
  color: #fff;
  border: 2px solid white;
}

#startBtn {
  position: fixed;
  margin-left: -525px;
  margin-top: 250px;
}

#clearBtn {
  position: absolute;
  margin-left: -340px;
  margin-top: 500px;
}


.endInput {
  position: fixed;
  font-family: 'Poppins';
  color: #fff;
  margin-left: -580px;
  margin-top: 100px;
  width: 275px;
  font-size: 20px;
  font-weight: 900;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
}

.endInput>input {
  border: 3px solid rgb(180, 180, 290);
}

.endInput>input:hover {
  color: #fff;
  border: 2px solid white;
}

#userInput {
  color: #fff;
  border: 2px solid white;
  font-size: 20px;
}

input:focus, textarea:focus, select:focus{
  outline: none;
}

#message {
  position: fixed;
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  inline-size: 180px;
  overflow-wrap: break-word ;
  margin-left: 780px;
  margin-top: -200px;
  font-size: 20px;
  color: white;
  font-family: 'Poppins';
  font-weight: 900;
}

#displayPath{
  text-shadow: 0 0 3px #FF0000, 0 0 5px #0000FF;
  margin-left: 780px;
  margin-top: 50px;
  font-size: 20px;
  color: white;
  font-family: 'Poppins';
  font-weight: 900;
} 